*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: rgb(33, 33, 166);
  padding: 30px;
  color: white;

}
.header h1{
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
  /* gap: 20px; */ 
   background-color: aqua;

}
.movie{
  background-color: rgb(200, 15, 129);
  border: 1px solid black;
  padding: 20px;
  font-weight: bold;
  text-align: start;
  width: 23%;
  margin-top: 20px;
  
}

.movie img{
  width: 300px;
  height: 600px;
}